<div class="users-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title">
          <b>IO <span ng-bind="::vm.currentTitle"></span> (<span ng-bind="vm.Users.length"></span>)</b>
        </h2>
      </div>
      <div class="col-md-6" ng-if="::!PERMISSIONS.reader">
        <div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-rounded" ng-click="vm.onClickCopyEmails($event)">Copiar Mails</button>
          <button type="button" class="btn btn-rounded" ng-csv="vm.csv.getProfiles()" csv-header="vm.csv.getHeaders()" filename="io-profiles.csv">Exportar</button>
          <a ui-sref="io-user-new" class="btn btn-rounded btn-primary">Crear</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <br/>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Paises</label>
          <select class="form-control" ng-model="vm.currentCountry" ng-change="vm.onChangeFilter()">
            <option value="">Todos</option>
            <option value="ar">Argentina</option>
            <option value="cl">Chile</option>
            <option value="uy">Uruguay</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Cursos</label>
          <select class="form-control" ng-model="vm.currentLevel" ng-change="vm.onChangeFilter()">
            <option value="">Todos</option>
            <option ng-repeat="item in vm.levels | orderBy: 'id_level'" value="{{item.id_level}}" ng-bind="item.title"></option>
          </select>
        </div>
      </div>
      <div class="col-md-3" ng-if="vm.isTeachers">
        <div class="form-group">
          <label>Estado</label>
          <select class="form-control" ng-model="vm.currentStatus" ng-change="vm.onChangeFilter()">
            <option value="">Todos</option>
            <option ng-repeat="item in vm.teacherStatus | orderBy:'value' track by $index" value="{{item.key}}" ng-bind="item.value"></option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <br/>
    <div class="row" ng-if="vm.Users.length">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="5%" ng-click="vm.onClickOrderBy('email')">Email</th>
              <th width="10%" ng-click="vm.onClickOrderBy('profile.first_name')">Nombre</th>
              <th width="5%" ng-click="vm.onClickOrderBy('profile.phone')">Telefono</th>
              <!--<th width="5%" ng-click="vm.onClickOrderBy('status')" ng-if="::vm.isTeachers">Estado</th>-->
              <th width="5%" ng-click="vm.onClickOrderBy('comment')" class="text-center"><i class="fa fa-comment"></i></th>
              <!--<th width="5%" ng-click="vm.onClickOrderBy('profile.canTeach')" ng-if="::vm.isTeachers">Puede dar</th>-->
              <th width="5%" ng-click="vm.onClickOrderBy('profile.onCareers')" ng-if="::vm.isStudents">En carrera</th>
              <th ng-if="::vm.isTeachers" width="5%" ng-click="vm.onClickOrderBy('feedbacks.teacher.rating')">&#9733; Rating</th>
              <th width="5%" ng-click="vm.onClickOrderBy('updatedAt')">Actualizado</th>
              <th width="5%" ng-click="vm.onClickOrderBy('role')" ng-if="::vm.currentState === 'users'">Rol</th>
              <th ng-if="::!vm.isTeachers" width="5%" ng-click="vm.onClickOrderBy('enable')" class="text-center">Habilitado</th>
              <th ng-if="::!vm.isTeachers" width="5%" ng-if="::!PERMISSIONS.reader" class="text-center"><i class="icon glyphicon glyphicon-remove"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.Users
              | orderBy : vm.currentOrder 
              track by item._id" id="{{::item._id}}" ng-click="vm.onClickEdit($event, item._id)">
              <td ng-bind="::item.email"></td>
              <td ng-bind="::item.profile.first_name + ' ' + item.profile.last_name"></td>
              <td ng-bind="::item.profile.phone"></td>
              <!--<td ng-bind="::vm.teacherStatus[item.status]" ng-if="vm.isTeachers"></td>-->
              <td class="text-center">
                <i ng-if="::item.comment" class="icon fa fa-comment" ng-click="$event.stopPropagation()" uib-popover="{{::item.comment}}" uib-popover-title="{{::item.comment}}" uib-popover-trigger="'mouseenter'" uib-popover-append-to-body="true"></i>
              </td>
              <!--<td ng-bind="::vm.getCanTeach(item.profile.canTeach)" ng-if="vm.isTeachers"></td>-->
              <td ng-bind="::vm.getOnCareers(item.profile.onCareers)" ng-if="vm.isStudents"></td>
              <td ng-if="::vm.isTeachers">
                <span ng-if="::item.feedbacks.teacher.rating" ng-bind="::item.feedbacks.teacher.rating"></span>
              </td>
              <td ng-bind="::item.updatedAt | date:'dd/MM/yyyy HH:mm'" ng-if="vm.isTeachers"></td>
              <td ng-bind="::vm.roles[item.role]" ng-if="::vm.currentState === 'users'"></td>
              <td ng-if="::!vm.isTeachers" class="text-center">
                <i ng-if="::item.enable" class="icon glyphicon glyphicon-ok"></i>
              </td>
              <td ng-if="::!vm.isTeachers" ng-if="::!PERMISSIONS.reader" ng-click="vm.onClickRemove($event, item._id)" class="btn-delete text-center">
                <i class="icon glyphicon glyphicon-remove"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" ng-if="!vm.Users.length">
      <div class="col-md-12">
        <p>No hay users...</p>
      </div>
    </div>
    <input class="form-control" type="text" id="copy-mails" style="opacity:0" />
  </div>
</div>