<div>
  <div class="modal-header">
    <h3 class="modal-title">
      <span ng-if="!vm.params.stageTmp._id">Nueva</span> Clase
    </h3>
  </div>
  <div class="modal-body">
    <div class="form-content">
      <div class="form-group">
        <label>Nombre</label>
        <input required type="text" class="form-control" ng-model="vm.params.stageTmp.name" />
      </div>
      <label>
        <input type="checkbox" ng-model="vm.params.stageTmp.starter" /> Fase 0 - Nivelacion?
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left btn-sm" type="button" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-primary btn-sm" type="button" ng-click="vm.ok()">Dale</button>
  </div>
</div>
