<div class="row profile-step">
  <div class="col-md-2 steps-bullets-container hidden-xs hidden-sm">
    <ul class="list-unstyled">
      <li><span class="fa" ng-class="{'fa-circle': vm.stepOne, 'fa-circle-thin': !vm.stepOne}"></span></li>
      <li><span class="fa" ng-class="{'fa-circle': vm.stepTwo, 'fa-circle-thin': !vm.stepTwo}"></span></li>
      <li><span class="fa" ng-class="{'fa-circle': vm.stepThree, 'fa-circle-thin': !vm.stepThree}"></span></li>
      <li><span class="fa" ng-class="{'fa-circle': vm.stepFour, 'fa-circle-thin': !vm.stepFour}"></span></li>
    </ul>
  </div>

  <div class="col-xs-12 col-md-8">
    <div class="step-one text-center" ng-if="vm.stepOne">
      <br>
      <h2 class="section-title" ng-if="vm.userTmp.profile.first_name">
        <b ng-bind="vm.userTmp.profile.first_name + ' ' + vm.userTmp.profile.last_name"></b>
      </h2>
      <span>Bienvenido a la plataforma de contenido <br/> online de Coderhouse</span>
      <br/>
      <br/>
      <span>En esta plataforma encontrarás todo el contenido necesario para el curso.</span>
      <div class="to-step-two">
        <a class="btn btn-primary pull-center" ng-click="vm.toStepTwo($event)">
          <span>Comenzar</span>
        </a>
      </div>
    </div>

    <div class="step-two text-center" ng-if="vm.stepTwo">
      <br>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-title">
            <b>Antes de empezar</b>
          </h2>
          <span>Completa tu perfil para brindarte un asesoramiento<br/> más personalizado</span>
        </div>
      </div>
      <form class="row" name="formProfile" novalidate="">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div class="form-content row">
            <div class="form-group col-md-4 avatar-container">
              <img ng-src="{{vm.userTmp.profile.avatar}}" alt="" />
            </div>
            <div class="form-group col-md-8 name-profile">
              <b ng-bind="vm.userTmp.profile.first_name + ' ' + vm.userTmp.profile.last_name"></b>
            </div>
          </div>
          <br>
          <div class="form-content row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <div class="form-group">
                <input type="text" placeholder="Nombre:" class="form-control" ng-model="vm.userTmp.profile.first_name" required />
              </div>
              <div class="form-group">
                <input type="text" placeholder="Apellido:" class="form-control" ng-model="vm.userTmp.profile.last_name" required />
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-mobile"></i>
                  </span>
                  <input type="tel" placeholder="Telefono:" class="form-control" ng-model="vm.userTmp.profile.phone" required />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.datePicker.popup.onClickOpen()">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                  <input type="text" placeholder="Cumpleaños:" class="form-control" ng-model="vm.userTmp.profile.bday" uib-datepicker-popup="{{vm.datePicker.format}}" is-open="vm.datePicker.popup.opened" datepicker-options="vm.datePicker.options" close-text="Cerrar" alt-input-formats="vm.datePicker.altInputFormats"
                  />
                </div>
              </div>
              <div class="form-group">
                <select placeholder="Genero:" class="form-control" ng-model="vm.userTmp.profile.gender" required>
                  <option value="">Genero:</option>
                  <option value="hombre">Hombre</option>
                  <option value="mujer">Mujer</option>
                  <option value="trans">Trans</option>
                  <option value="neutro">Neutro</option>
                  <option value="ninguno">Ninguno</option>
                </select>
              </div>
              <div class="col-md-12">
                <button ng-click="vm.toStepThree($event, formProfile)" class="btn btn-primary pull-right">Continuar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row step-three" ng-if="vm.stepThree">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-title">
              <b>Ya casi...</b>
            </h2>
        </div>
      </div>
      <form name="formQuestion" novalidate="" class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="form-content row">
            <div class="col-md-8 col-md-offset-2">
              <div class="form-group">
                <input required type="text" g-places-autocomplete options="vm.geoConfig" class="form-control" placeholder="Ciudad" ng-model="vm.userTmp.profile.city" />
              </div>
              <!-- Solo para alumnos-->
              <div ng-if="::vm.isStudent">
                <div class="form-group">
                  <input type="text" ng-model="vm.userTmp.profile.study" placeholder="Estudio" uib-typeahead="item for item in vm.schooling | filter: $viewValue | limitTo: 10" class="form-control" />
                </div>
                <div class="form-group">
                  <select class="form-control" ng-model="vm.userTmp.profile.objective">
                    <option value="">Cual es tu objetivo:</option>
                    <option value="Encontrar un nuevo trabajo">Encontrar un nuevo trabajo</option>
                    <option value="Lanzar mi propio emprendimiento">Lanzar mi propio emprendimiento</option>
                    <option value="Trabajar como freelance">Trabajar como freelance</option>
                    <option value="Avanzar en mi carrera y mejorar mis skills">Avanzar en mi carrera y mejorar mis skills</option>
                    <option value="Otro">Otro</option>
                  </select>
                </div>
              </div>
              <!-- SOLO PARA TEACHERS -->
              <div ng-if="::!vm.isStudent">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="vm.userTmp.profile.dni" placeholder="Documento de Identidad" required/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="vm.userTmp.profile.cuit" placeholder="CUIT/RUT" required/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="vm.userTmp.profile.name_bank" placeholder="Nombre de tu banco" required/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="vm.userTmp.profile.count_bank" placeholder="Numero de cuenta" required/>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="vm.userTmp.profile.cbu_bank" placeholder="CBU" />
                </div>
              </div>
              <div>
                <a ng-click="vm.toStepTwo($event)" class="btn btn-primary pull-left atras">
                  <span>Atrás</span>
                </a>
                <button ng-click="vm.onSubmit()" class="btn btn-primary pull-right" ng-if="::!vm.isStudent">Aceptar</button>
                <button ng-click="vm.toStepFour(formQuestion)" class="btn btn-primary pull-right" ng-if="::vm.isStudent">Continuar</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row step-four" ng-if="vm.stepFour">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-title">
            <b>Para tener en cuenta:</b>
          </h2>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h4><b>Durante el curso</b></h4>
          <br>
          <p><b>Asistencia a las clases:</b> Es requerida una asistencia del 80% como minimo
            <br/> pudiendo recuperar las clases perdidas en otra camada.
          </p>
          <br>
          <p><b>Trabajos Prácticos:</b> Todos los trabajos prácticos individuales y grupales deberán
            <br/> ser entregados en tiempo forma.
          </p>
          <br>
          <p><b>Clases:</b> Prestar atención y realizar los ejercicios propuestos durante la clase.
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <a class="btn btn-primary pull-left atras" ng-click="vm.toStepThree($event)">
            <span>Atrás</span>
          </a>
          <button ng-click="vm.onSubmit()" class="btn btn-primary pull-right">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
