<div class="module-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2 class="section-title" ng-if="vm.tpTmp._id">
          <b>Trabajo Practico</b>
        </h2>
        <h2 class="section-title" ng-if="!vm.tpTmp._id">Trabajo Practico /
          <b>Nuevo</b>
        </h2>
      </div>
      <div class="col-xs-12 col-md-6" ng-if="vm.tpTmp.module._id">
        <a ui-sref="module({classId: vm.tpTmp.module.stage.class._id, stageId: vm.tpTmp.module.stage._id, moduleId: vm.tpTmp.module._id})" class="btn btn-rounded btn-primary pull-right">Ver Contenido</a>
      </div>
    </div>
  </div>
  <br/>
  <form class="container-fluid" ng-submit="vm.onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-content">
          <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="form-group">
                <label>Camada</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-users"></i>
                  </span>
                  <input type="text" class="form-control" ng-value="vm.tpTmp.camada.name || vm.tpTmp.camada.id" disabled />
                </div>
              </div>
              <div class="form-group">
                <label>Curso</label>
                <input type="text" class="form-control" ng-model="vm.tpTmp.module.stage.class.name" disabled />
              </div>
              <div class="form-group">
                <label>Clase</label>
                <input type="text" class="form-control" ng-model="vm.tpTmp.module.stage.name" disabled />
              </div>
              <div class="form-group">
                <label>Contenido</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-file-code-o"></i>
                  </span>
                  <input type="text" class="form-control" ng-model="vm.tpTmp.module.name" disabled />
                  <span class="input-group-addon">
                    <a ui-sref="module({moduleId: vm.tpTmp.module._id, stageId: vm.tpTmp.module.stage._id, classId: vm.tpTmp.module.stage.class._id})"><i class="fa fa-external-link"></i></a>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6" ng-if="::PERMISSIONS.student || PERMISSIONS.admin">
              <div class="form-group">
                <label>Profesores</label>
                <div class="input-group" ng-repeat="item in vm.tpTmp.camada.teachers">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope-o"></i>
                  </span>
                  <input type="text" class="form-control" ng-model="item.email" disabled />
                </div>
              </div>
              <div class="form-group">
                <label>Repo</label>
                <p>Pega la ruta al repositorio de este TP</p>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-github"></i>
                  </span>
                  <input type="url" class="form-control" placeholder="Repo a Github" ng-model="vm.tpTmp.url" ng-disabled="::vm.tpTmp.status" required="" />
                  <span class="input-group-addon">
                    <i ng-if="::vm.tpTmp.status === 1" class="fa fa-check" title="Aprobado"></i>
                    <i ng-if="::vm.tpTmptpTmp.status === 2" class="fa fa-times" title="Desaprobado"></i>
                    <i ng-if="::!vm.tpTmp.status">No verificado</i>
                  </span>
                  <span class="input-group-addon">
                    <a ng-href="{{vm.tpTmp.url}}" target="_blank"><i class="fa fa-external-link"></i></a>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6" ng-if="::PERMISSIONS.teacher || PERMISSIONS.admin">
              <div class="form-group">
                <label>Estudiante</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope-o"></i>
                  </span>
                  <input type="text" class="form-control" ng-model="vm.tpTmp.user.email" disabled />
                </div>
              </div>
              <div class="form-group">
                <label>Repo</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-github"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="Repo a Github" ng-model="vm.tpTmp.url" disabled />
                  <span class="input-group-btn">
                    <button ng-click="vm.onClickStatus(1)" class="btn btn-default" type="button" title="Aprobar" ng-class="{'btn-primary': vm.tpTmp.status === 1}">
                      <i class="fa fa-check"></i>
                    </button>
                    <button ng-click="vm.onClickStatus(2)" class="btn btn-default" type="button" title="Desaprobar" ng-class="{'btn-primary': vm.tpTmp.status === 2}">
                      <i class="fa fa-times"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row btns-container">
      <div class="col-md-12">
        <!-- <button ng-click="vm.onClickRemove()" class="btn  btn-link" ng-show="vm.tpTmp._id">Eliminar</button> -->
        <button ui-sref="tps" class="btn btn-default">Cancelar</button>
        <button type="submit" class="btn btn-primary pull-right">Guardar</button>
      </div>
    </div>
  </form>
</div>
