<div class="module-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <h2 class="section-title" ng-if="vm.moduleTmp._id">
          <span ng-bind="vm.stage.name"></span> /
          <b ng-bind="vm.moduleTmp.name"></b>
        </h2>
        <h2 class="section-title" ng-if="!vm.moduleTmp._id">Contenido /
          <b>Nuevo</b>
        </h2>
      </div>
      <!-- <div class="col-md-3" ng-if="::!PERMISSIONS.student">
        <a ui-sref="stages({classId: vm.class._id})" class="btn btn-rounded btn-primary pull-right">Clases</a>
      </div> -->
    </div>
  </div>
  <br/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="form-content">
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <label>Contenidos</label>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th width="5%" class="text-center">#</th>
                    <th ng-click="vm.onClickOrderBy('name')">Nombre</th>
                    <th width="5%" ng-if="::!PERMISSIONS.student" class="text-center">&nbsp;</th>
                    <th width="5%" class="text-center" ng-click="vm.onClickOrderBy('tp')">TP</th>
                    <th width="5%" ng-if="::PERMISSIONS.student" class="text-center">&nbsp;</th>
                    <th width="10%" ng-if="::!PERMISSIONS.student" class="text-center">&nbsp;</th>
                  </tr>
                </thead>
                <tbody as-sortable="vm.onDragModules" ng-model="vm.modules">
                  <tr as-sortable-item ng-repeat="item in vm.modules | orderBy : vm.currentOrder track by item._id" id="{{item._id}}" ng-click="vm.onClickEdit($event, item._id)" ng-class="{active: item._id === vm.moduleTmp._id}">
                    <td ng-bind="item.order" class="text-center"></td>
                    <td ng-bind="item.name"></td>
                    <td as-sortable-item-handle ng-if="::!PERMISSIONS.student" class="btn-delete text-center">
                      <i class="fa fa-arrows"></i>
                    </td>
                    <td class="text-center">
                      <i ng-if="item.tp" class="fa fa-file-code-o"></i>
                    </td>
                    <td class="text-center" ng-if="::PERMISSIONS.student">
                      <i ng-show="item.completed" class="fa fa-check"></i>
                    </td>
                    <td ng-if="::!PERMISSIONS.student" class="btn-delete text-center" ng-click="vm.onClickRemove($event, item._id)">
                      <i class="fa fa-times"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-12 col-md-9">
              <div class="row" ng-if="::PERMISSIONS.admin">
                <div class="form-group col-md-10">
                  <label>Nombre</label>
                  <input required type="text" class="form-control" ng-model="vm.moduleTmp.name" />
                </div>
                <div class="col-md-2">
                  <div class="checkbox form-group">
                    <label>&nbsp;</label>
                    <br/>
                    <label>
                      <input type="checkbox" ng-model="vm.moduleTmp.tp" /> TP
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Editor</label>
                <uib-tabset active="0" id="tabsCodemirror">
                  <uib-tab ng-if="::!PERMISSIONS.admin && vm.EditorCodemirror" ng-repeat="codemirror in vm.currentUserHistory.codemirror track by $index" heading="{{codemirror.file}}.{{codemirror.mode =='javascript' ? 'js' : codemirror.mode}}" select="vm.tabSelected(codemirror.mode)"
                      ng-click="vm.CodemirrorRefresh(codemirror.mode)">
                    <div ui-codemirror="{ onLoad : vm.codemirrorLoaded }" ng-model="codemirror.code" ui-codemirror-opts="vm.editorOptionsForLenguaje[codemirror.mode]"></div>
                  </uib-tab>
                  <uib-tab ng-if="::!PERMISSIONS.admin && vm.EditorCodemirror" heading="view">
                    <iframe id="iframe-view" ng-init="vm.setContentIframe()" allowfullscreen="true" sandbox="allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-modals allow-forms" allowtransparency="true" class="result-iframe" style="width: 100%;min-height: 300px;"></iframe>
                  </uib-tab>
                  <uib-tab heading="teoria">
                    <div ng-if="::PERMISSIONS.admin" ui-codemirror ng-model="vm.moduleTmp.text" ui-codemirror-opts="vm.editorOptionsForLenguaje.markdown"></div>
                    <div ng-if="::!PERMISSIONS.admin" btf-markdown="vm.moduleTmp.text" class="form-control" style="height: auto;min-height: 300px;padding: 10px;font: inherit;"></div>
                  </uib-tab>
                </uib-tabset>
              </div>
              <div class="form-group" ng-if="::PERMISSIONS.student && vm.moduleTmp.tp">
                <label>Repo a Github</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-github"></i>
                  </span>
                  <input type="url" class="form-control" ng-model="vm.tpTmp.url" required="" />
                  <span class="input-group-addon" ng-show="vm.tpTmp.url">
                    <a ng-href="{{vm.tpTmp.url}}" target="_blank"><i class="fa fa-external-link"></i></a>
                  </span>
                </div>
              </div>
              <div class="row form-group" ng-if="::!PERMISSIONS.admin">
                <div class="col-xs-12 col-md-6">
                  <button ng-show="!vm.hideBtnPrevModule" ng-click="vm.onClickPrevModule()" class="btn btn-default">
                    Anterior
                  </button>
                  <button ng-show="vm.hideBtnPrevModule && vm.hideBtnPrevStage" ng-click="vm.onClickPrevStage()" class="btn btn-default">
                    Clase Anterior
                  </button>
                </div>
                <div class="col-xs-12 col-md-6">
                    <button ng-if="::vm.EditorCodemirror" ng-show="!vm.moduleTmp.tp" ng-disabled="vm.disabledSave" ng-click="vm.saveCodemirror()" class="btn btn-primary pull-right">
                      Ejecutar
                    </button>
                  <button ng-show="!vm.hideBtnNextModule" ng-click="vm.onClickNextModule()" class="btn btn-default pull-right">
                    Siguiente
                  </button>
                  <button ng-show="vm.hideBtnNextModule && vm.hideBtnNextStage" ng-click="vm.onClickNextStage()" class="btn btn-default pull-right">
                    Proxima clase
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="container-fluid">
    <div class="row btns-container">
      <div class="col-md-12">
        <button ng-if="::!PERMISSIONS.student" ng-click="vm.onClickRemove()" class="btn btn-link" ng-show="vm.moduleTmp._id">Eliminar</button>
        <button ui-sref="modules({classId: vm.class._id, stageId: vm.stage._id})" class="btn btn-default">Cancelar</button>
        <button ng-if="::!PERMISSIONS.student && !PERMISSIONS.teacher" ng-click="vm.onSubmit()" class="btn btn-primary pull-right">Guardar</button>
        <!-- <button ng-if="::PERMISSIONS.student" ng-click="vm.onClickShowFeedback()" class="btn btn-primary">Feedback</button> -->
        <button ng-if="::PERMISSIONS.student && vm.moduleTmp.tp" ng-click="vm.onSubmitTp()" class="btn btn-primary pull-right">Guardar</button>
      </div>
    </div>
  </div>
</div>
