<div class="camadas-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2 class="section-title">
          <b>Camadas</b>
        </h2>
      </div>
      <div class="col-xs-12 col-md-6" ng-if="::PERMISSIONS.admin">
        <a ui-sref="camada-new" class="btn btn-rounded btn-primary pull-right">Crear</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <br/>
    <div class="row" ng-if="vm.camadas.length">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="10%" ng-click="vm.onClickOrderBy('id')">ID</th>
              <th ng-click="vm.onClickOrderBy('class.name')">Curso</th>
              <th ng-if="!PERMISSIONS.student" class="text-center" ng-click="vm.onClickOrderBy('type')">Remoto</th>
              <th class="text-center" ng-click="vm.onClickOrderBy('slack')">Slack</th>
              <th class="text-center" ng-click="vm.onClickOrderBy('completed')">Completado</th>
              <!-- <th width="5%" ng-if="::PERMISSIONS.admin" class="text-center">&nbsp;</th> -->
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.camadas | orderBy : vm.currentOrder track by $index" id="{{item._id}}" ng-class="{active: item.completed}" ng-click="vm.onClickEdit($event, item._id)">
              <td ng-bind="item.id"></td>
              <td ng-bind="item.class.name"></td>
              <td ng-if="!PERMISSIONS.student" class="text-center">
                <!-- <i class="fa fa-users" ng-if="item.type === 'present'"></i> -->
                <i class="fa fa-video-camera" ng-if="item.type === 'remote'"></i>
              </td>
              <td class="text-center"><a ng-if="item.slack" ng-href="{{item.slack}}"><i class="fa fa-slack"></i></a></td>
              <td class="text-center"><i ng-if="item.completed" class="fa fa-check"></i></td>
              <!-- <td ng-if="::PERMISSIONS.admin" class="btn-delete text-center" ng-click="vm.onClickRemove($event, item._id)">
                <i class="fa fa-times"></i>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" ng-if="!vm.camadas.length">
      <div class="col-md-12">
        <p>No hay cursos...</p>
      </div>
    </div>
  </div>
</div>
