<div class="io-user-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title" ng-if="vm.testimonyTmp._id">Testimonio</h2>
        <h2 class="section-title" ng-if="!vm.testimonyTmp._id">Testimonio /
          <b>Nuevo</b>
        </h2>
      </div>
    </div>
  </div>
  <br/>
  <div class="container-fluid">
    <form class="row" ng-submit="vm.onSubmit()">
      <div class="col-md-12 form-content">
        <div class="row">
          <div class="col-md-12">
            <h4>Informacion basica</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-3">
                <label>Nombre</label>
                <input required type="text" class="form-control" ng-model="vm.testimonyTmp.name" />
              </div>
              <div class="form-group col-md-3">
                <label>Apellido</label>
                <input required type="text" class="form-control" ng-model="vm.testimonyTmp.lastname" />
              </div>
              <div class="col-md-3 form-group">
                <label>Email</label>
                <input required type="email" class="form-control" ng-model="vm.testimonyTmp.email" />
              </div>
              <div class="form-group col-md-3">
                <label>Texto</label>
                <textarea class="form-control" ng-model="vm.testimonyTmp.text"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="vm.testimonyTmp.published" > Favorito (Aparece en el .com)
                </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row btns-container">
          <div class="col-md-12">
            <div class="btn-group" role="group">
              <button type="button" ng-if="::!PERMISSIONS.reader" ng-click="vm.onClickBlock($event)" class="btn btn-link" ng-show="vm.testimonyTmp._id && vm.testimonyTmp.enable">Bloquear</button>
              <button type="button" ng-if="::!PERMISSIONS.reader" ng-click="vm.onClickUnblock($event)" class="btn btn-link" ng-show="vm.testimonyTmp._id && !vm.testimonyTmp.enable">Desbloquear</button>
              <button type="button" ui-sref="users" class="btn  btn-default">Cancelar</button>
            </div>
            <button type="submit" ng-if="::!PERMISSIONS.reader" class="btn btn-primary pull-right">Guardar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>