<div>
  <div class="modal-body">
    <h3>Argentina 2016</h3>
    <ul>
      <li>Lunes 15 de Agosto</li>
      <li>Lunes 10 de Octubre</li>
      <li>Lunes 28 de Noviembre</li>
      <li>Jueves 08 de Diciembre</li>
      <li>Viernes 09 de Diciembre</li>
      <li>Domingo 25 de Diciembre</li>
    </ul>
    <h3>Chile 2016</h3>
    <ul>
      <li>Lunes 15 de Agosto</li>
      <li>Domingo 18 de Septiembre</li>
      <li>Lunes 19 de Septiembre</li>
      <li>Lunes 10 de Octubre</li>
      <li>Lunes 31 de Octubre</li>
      <li>Martes 01 de Noviembre</li>
      <li>Jueves 08 de Diciembre</li>
      <li>Domingo 25 de Diciembre</li>
    </ul>
    <h3>Uruguay 2016</h3>
    <ul>
      <li>Jueves 25 de Agosto</li>
      <li>Lunes 10 de Octubre</li>
      <li>Miercoles 2 de Noviembre</li>
      <li>Domingo 25 de Diciembre</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default pull-left btn-sm" type="button" ng-click="vm.cancel()">Cancel</button>
    <button class="btn btn-primary btn-sm" type="button" ng-click="vm.ok()">Dale</button>
  </div>
</div>
