<div class="dashboard-page dashboard-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 sidebar">
        <ul class="nav nav-sidebar">
          <li ng-if="::item.permissions" ng-repeat="item in ::vm.navItems" ng-class="{active: $state.is(item.state) }">
            <a ng-if="!item.items" ui-sref="{{item.state}}" ng-click="vm.closeCollapsed()" ng-bind="item.title"></a>
            <a ng-if="item.items" class="dropdown-toggle" ng-click="vm.onClickCollpase($index)" role="button" aria-haspopup="true" aria-expanded="false">
                {{item.title}}
                <span class="caret"></span>
            </a>
            <div ng-if="item.items" class="dropdown-menu" ng-show="vm.isCollapsed[$index]" style="display: block;">
              <div class="row">
                <ul class="nav nav-sidebar" style="margin: 0;padding: 0 19px;">
                  <li ng-repeat="subItem in ::item.items" ng-class="{active: $state.is(subItem.state) }">
                    <a ui-sref="{{subItem.state}}" ng-click="vm.closeCollapsed()" ng-bind="subItem.title"></a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a ui-sref="logout">Salir</a>
          </li>
        </ul>
        <!--<a class="ch-logo" href="https://www.voluntariosos.org" target="_blank"><img src="modules/core/client/img/ch-icon.ico" alt="VoluntarioSOS" /> VoluntarioSOS</a>-->
      </div>
      <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-11 col-lg-offset-1 main" ui-view></div>
    </div>
  </div>
</div>