<div class="login-container video-background">
  <div class="video-background-container">
    <video autoplay="" loop="">
      <source src="https://www.coderhouse.com/modules/core/client/videos/coderhouse-background_izkqcr.mp4" type="video/mp4" />
      <source src="https://www.coderhouse.com/modules/core/client/videos/coderhouse-background_izkqcr.ogv" type="video/ogg" />
      <source src="https://www.coderhouse.com/modules/core/client/videos/coderhouse-background_izkqcr.webm" type="video/webm" />
    </video>
  </div>
  <form class="row" ng-submit="vm.onClickLogin()">
    <div class="col-md-4 col-md-offset-4">
      <div class="row">
        <div class="col-md-12">
          <div id="widget-container"></div>
        </div>
      </div>
    </div>
  </form>
  <footer>
    <div class="cp">
      <div class="inner">
        <p class="derechos">
          <small>© 2016 Coderhouse, todos los derechos reservados. <a href="https://www.coderhouse.com/legal" target="_blank">Términos y Condiciones</a></small>
        </p>
        <p class="amor">Hecho con
          <span>
            <img src="https://www.coderhouse.com/modules/core/client/img/hearth.png" alt="Amor" />
          </span> en Argentina, Chile & Uruguay</p>
      </div>
    </div>
  </footer>
</div>
